.poll-container {
  max-width: 900px;
  margin: 10px auto;
  background: #ffffff;
  padding: 40px;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
  font-family: Arial, sans-serif;
}

.poll-container h2 {
  margin-bottom: 5px;
}

.subtitle {
  color: #555;
  margin-bottom: 15px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  font-weight: 600;
  display: block;
  margin-bottom: 3px;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

small {
  display: block;
  margin-top: 3px;
  color: #777;
}

.add-btn {
  margin-top: 1px;
  padding: 8px 14px;
  border: 1px solid #ccc;
  background: #f5f5f5;
  cursor: pointer;
}

.row {
  display: flex;
  gap: 10px;
}

.row .form-group {
  flex: 1;
}

.info-box {
  background: #fff6d6;
  border-left: 5px solid #f0c040;
  padding: 15px;
  margin: 3px 0;
}

.submit-btn {
  background: #007bff;
  color: white;
  padding: 10px 25px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}




.option-row {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.delete-btn {
  background: #dc3545;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
}

.delete-btn:hover {
  background: #b02a37;
}
